@font-face {
    font-weight: 300; 
    font-family: Gilroy-Bold;
    src: url("./front-face/Gilroy-Bold.ttf");
}
@font-face {
    font-weight: 300; 
    font-family: Gilroy-Medium;
    src: url("./front-face/Gilroy-Medium.ttf");
}
@font-face {
    font-weight: 300; 
    font-family: Gilroy-Regular;
    src: url("./front-face/Gilroy-Regular.ttf");
}
  
.navigation{
    display: flex;
    justify-content: center;
    gap: 500px;
}
.headerButtons{
    display: flex;
    gap: 25px;
}
.footer{
    max-width: 1170px;
    margin: 0 auto;   
}
.mainContant{
    display: flex;
    justify-content: space-between;
}
.mainContant_leftside{
    order: -1;
    max-width: 522px;
}
.mainContant_leftside_ButtonGroup{
    display: flex;
    gap: 72px;

}
.logosContainer{
    max-width: 1200px;
    margin: 177px auto;  
    display: flex;
    justify-content: space-between;
}

.header a{
font-size: 14px;
line-height: 16.41px;
}

.mainContant_leftside p{
    font-size: 20px;
    line-height: 23.44px;
    max-width: 466px;
    margin: 0 0 37px 0;
}

.mainContant_leftside h1{
    font-size: 60px;
    line-height: 70.31px;
    max-width: 522px ;
    margin: 0 0 17px 0;
}
h1,
h2,
p
{
    font-family: Gilroy-Medium;
    color:  #000000;
    size: 16px;

}

a{
    font-family: Gilroy-Medium;
    color: #000000;
    text-decoration: none;
    size: 14px;

}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    padding: 40px 0;
    margin-bottom: 37px;
}

.main{
    margin-bottom: 53px;
}
.page2{
    background-color: #FAFAFA;
}


.threBloxAboutFramework {
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 381px);
    grid-template-rows: repeat(1, 291px);
    gap: 30px;
}

.threBloxAboutFramework h2{
font-family: Gilroy-Bold;
font-size: 24px;
line-height: 28.13px;
}

.threBloxAboutFramework h3{
font-family: Gilroy-Bold;
font-size: 11px;
line-height: 16.5px;
}

.threBloxAboutFramework p{
font-family: Gilroy-Regular;
font-size: 15px;
line-height: 22.5px;
}

.plaintWithThreCardWithChoose{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(1, 549px);
    justify-content: center;
    gap: 30px;
}

.plaintWithThreCardWithChoose h2{
font-family: Gilroy-Bold;
font-size: 24px;
line-height: 28.13px;
}

.plaintWithThreCardWithChoose p{
font-family: Gilroy-Regular;
font-size: 15px;
line-height: 22.5px;
text-align: center;
}
.cardWithChoose{
    max-width: 370px;
    max-height: 549px;
    justify-content: center;
}

.cardWithChoose h2 {
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    margin: 25px auto 22px auto;
    
}
.cardWithChoose p{
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 22.5px;
    text-align: center;
    
}
.cardWithChoose button{
    text-align: center;
    margin: 39px 110px 50px 110px;
}


.plaintWithThreCardWithChoose button{
    background-image: url('./img/Rectangle\ 3.png');
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    height: 60px;
    color: #ffffff;
    border: none;
}

.threcardChoose h2{
display: flex;
justify-content: center;
margin: 107px auto 0 auto; 
font-family: Gilroy-Bold;
font-size: 45px;
line-height: 52.73px;
}

.threcardChoose p{
display: flex;
justify-content: center;
font-family: Gilroy-Regular;
font-size: 16px;
line-height: 24px;
text-align: center;
max-width: 682px;
margin: 19px auto; 
color:  #666666;
}


