@font-face {
    font-weight: 300; 
    font-family: Gilroy-Bold;
    src: url("./front-face/Gilroy-Bold.ttf");
}
@font-face {
    font-weight: 300; 
    font-family: Gilroy-Medium;
    src: url("./front-face/Gilroy-Medium.ttf");
}
  
.navigation{
    display: flex;
    justify-content: center;
    gap: 500px;
}
.headerButtons{
    display: flex;
    gap: 25px;
}
.footer{
    max-width: 1170px;
    margin: 0 auto;   
}
.mainContant{
    display: flex;
    justify-content: space-between;
}
.mainContant_leftside{
    order: -1;
    max-width: 522px;
    

}
.mainContant_leftside_ButtonGroup{
    display: flex;
    gap: 72px;

}
.logosContainer{
    min-width: 1200;
    display: flex;
    justify-content: space-between;
}

.header a{
font-size: 14px;
line-height: 16.41px;
}

.mainContant_leftside p{
    font-size: 20px;
    line-height: 23.44px;
    max-width: 466px;
}

.mainContant_leftside h1{
    font-size: 60px;
    line-height: 70.31px;
    max-width: 522px ;
}

h1,
h2,
p
{
    font-family: Gilroy-Medium;
    color:  #000000;
    size: 16px;

}

a{
    font-family: Gilroy-Medium;
    color: #000000;
    text-decoration: none;
    size: 14px;

}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    padding: 40px 0;
    margin-bottom: 37px;
}

.main{
    margin-bottom: 53px;
}